* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
}

body {
  height: 100vh;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

.about {
  padding: 50px;
}

.main-body {
  background-color: #3F334D;
}

.main-footer {
  background-color: #012A36;
  height: 17vh;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 25%;
}

.about-head, .about-text {
  margin: 25px auto;
  color: #E6BCCD;
}

.about-text {
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.c-text {
  margin: 20px 0;
  color: #E6BCCD;
  display: flex;
}

.c-btn {
  background: none;
}

.input-text {
  color: black;
}

label {
  font-size: 20px;
}