* {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
}

body {
  height: 100vh;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

.about {
  padding: 50px;
}

.main-body {
  background-color: #3F334D;
}

.main-footer {
  background-color: #012A36;
  height: 14vh;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 25%;
}

.about-head, .about-text {
  margin: 50px auto;
  color: #E6BCCD;
}
