/* * {
    margin: 0 auto;
} */

.header-div {
    background-color: #012A36;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-text {
    font-size: 48px;
    color: #E6BCCD;
}

@media screen and (max-width: 1060px) {
    .header-text {
      font-size: 28px;
    }
  }


@media screen and (max-width: 780px) {
    .header-text {
        color: transparent;
    }
}
